<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>測試</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css"/>
  <link rel="stylesheet" href="./all.css">
</head>
<body>
  <div id="app">
    <div class="float-icon btn-group ms-auto">
      <button type="button" class="btn btn-primary submit-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">!</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">意見反饋</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <div class="mb-2">
                <label for="type"><span class="text-label-icon">*</span>類別</label>
              </div>
              <el-select v-model="value" placeholder="請選擇類別" style="width: 240px" id="type">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                  :disabled="item.disabled"
                />
              </el-select>
            </div>
            <div class="mb-3">
              <label for="title" class="form-label"><span class="text-label-icon">*</span>標題(限30字符內)</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control name-input" id="title" placeholder="請輸入標題"/>
              </div>
            </div>
            <div class="mb-3">
              <label for="describe" class="form-label"><span class="text-label-icon">*</span>描述(限300字符內)</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control name-input" id="describe" placeholder="請描述您的意見/問題"/>
              </div>
            </div>
            <div class="md-3">
              <div>
                <label for="" class="form-label">參考圖片</label>
                <span>請支持 PNG JPG 格式，每張 5MB 內</span>
              </div>
              <div>
                <el-upload action="#" list-type="picture-card" :auto-upload="false" v-model:file-list="fileList" :limit="3" :on-exceed="handleExceed" v-if="fileList.length < 3">
                  <el-icon><Plus /></el-icon>
              
                  <template #file="{ file }">
                    <div>
                      <img class="el-upload-list__item-thumbnail" :src="file.url" alt="" />
                      <span class="el-upload-list__item-actions">
                        <span
                          class="el-upload-list__item-preview"
                          @click="handlePictureCardPreview(file)"
                        >
                          <el-icon><zoom-in /></el-icon>
                          
                        </span>
                        <span
                          v-if="!disabled"
                          class="el-upload-list__item-delete"
                          @click="handleDownload(file)"
                        >
                          <el-icon><Download /></el-icon>
                        </span>
                        <span
                          v-if="!disabled"
                          class="el-upload-list__item-delete"
                          @click="handleRemove(file)"
                        >
                          <el-icon><Delete /></el-icon>
                        </span>
                      </span>
                    </div>
                  </template>
                </el-upload>
              
                <el-dialog v-model="dialogVisible">
                  <img w-full :src="dialogImageUrl" alt="Preview Image"/>
                </el-dialog>
              </div>
              <div>可提供意見/問題截圖(上傳數量 {{ fileList.length }} / 3)</div>
            </div>
          </div>
          <div class="modal-footer">
            <el-button type="primary" class="btn btn-primary w-100" @click="handleSubmit">提交</el-button>
            <el-dialog
              title="提交成功"
              v-model="dialogSuccess"
              width="30%">
              <p>感謝您的反饋，我們將繼續努力，提供更優質的服務！</p>
              <span>{{ countdown }} 秒後自動關閉</span>
            </el-dialog>
          </el-dialog>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/element-plus"></script>
  <script src="https://unpkg.com/@element-plus/icons-vue"></script>
  <script>
    const { createApp, ref } = Vue;
    const { Delete, Download, Plus, ZoomIn } = ElementPlusIconsVue;
    const { UploadFile } = ElementPlus;

    const app = createApp({
      
      setup() {
        const value = ref('')
        const options = [
          {
            value: '操作問題',
            label: '操作問題',
          },
          {
            value: '優化建議',
            label: '優化建議', 
          },
          {
            value: 'Bug反饋',
            label: 'Bug反饋',
          },
          {
            value: '其他',
            label: '其他',
          },
        ]

        const dialogImageUrl = ref('')
        const dialogVisible = ref(false)
        const disabled = ref(false)
        const fileList = ref([])
        const handleRemove = (file) => {
          console.log(file)
          const index = fileList.value.indexOf(file);
          if (index !== -1) {
            fileList.value.splice(index, 1);
          }
        }
        const handlePictureCardPreview = (file) => {
          dialogImageUrl.value = file.url || '';
          dialogVisible.value = true;
        }
        const handleDownload = (file) => {
          console.log(file)
        }
        const handleExceed = (files, fileList) => {
          alert('超過最大上傳數量，只能上傳三張圖片')
        }

        const dialogDisplay = ref(false)
        const dialogSuccess = ref(false)
        const countdown = ref(5)
        const handleSubmit = () => {
          dialogDisplay.value = false
          dialogSuccess.value = true
          countdown.value = 5
          const timer = setInterval(() => {
            countdown.value -= 1;
            if (countdown.value === 0) {
              clearInterval(timer)
              dialogSuccess.value = false
            }
          }, 1000);
        }

        return {
          value,
          options,
          fileList,
          dialogImageUrl,
          dialogVisible,
          disabled,
          handleExceed,
          handleRemove,
          handlePictureCardPreview,
          handleDownload,
          dialogDisplay,
          dialogSuccess,
          handleSubmit,
          countdown,
        }
      }      
    });
    app.use(ElementPlus);
    app.component('Plus', Plus);
    app.component('Delete', Delete);
    app.component('Download', Download);
    app.component('ZoomIn', ZoomIn);
    app.mount('#app');
  </script>
</body>
</html>
